.login-body
{
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.login-div
{
	margin-top: 50px;
}
.system-name
{
	height: 150px;
	margin-bottom: 10px;
}
#user-type
{
	height: 40px;
	width: 100%;
}
.login-logo
{
	height: 90px;
	margin: auto;
	padding-top: 10px;
	width: 128px;
}
.login-logo img
{
	height: 90px;
	width: 128px;
}
.system-name h3
{
	color: #fff;
	text-align: center;

}
fieldset
{
	border: 0;
}
label
{
	display: block;
	margin: 30px 0 0 0;
}
select
{
	width: 200px;
}
.overflow
{
	height: 200px;
}
.login-panel
{
	background: rgba(0,0,0,.2);
	border-radius: 0px;
	height: 235px;
}
.login-panel h1 , .login-panel h2 , .login-panel h3
{
	color: #fff;
	font-size: 18px;
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
}
.my-form
{
	margin-top: 30px;
}
.my-control
{
	color: #fff;
}
.my-btn
{

	display: block;
	margin-top: 20px;
	width:100%;
}
::-webkit-input-placeholder
{
	color: #ecf0f1;
}
:-moz-placeholder
{
	color: #ecf0f1;
	opacity: 1;
}
::-moz-placeholder
{
	color: #ecf0f1;
	opacity: 1;
}
:-ms-input-placeholder
{
	color: #ecf0f1;
}

.ajax-notify{display:none;}
.loading{
	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	background-position: center;

}
.my-btn:focus {
  outline: none;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.block-ui{    
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 100;
    position: fixed;
    top:0;
    display:none;
}
.spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -25px;
}

.spinner > div {
  background-color: #23c6c8;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.input-group {
	border-radius: 5px;
    overflow: hidden;
}
.input-group .input-group-addon {
	position: absolute;
	left: 3px;
    top: 3px;
	z-index: 7;
}
.input-group .input-group-addon i {
	color: #9aa7ae;
}
.input-group>.form-control {
	padding: 3px 3px 3px 28px;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
@media screen and (max-width: 768px)
{
.login-div
{
	margin-top: 0px;
}

}