html {
	overflow-x: hidden;
}

body {
	background: #f0f2fa;
	background-size: 100% 100%;
	color: #313534;
	margin: 0;
	padding: 0;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.text-align-center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-both {
	clear: both;
}

label {
	font-size: 0.7em;
}

.w-90 {
	width: 90%;
}

#wrapper {
	width: 100%;
}

.headerbar {
	background: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	color: rgba(49, 53, 52, 0.6);
	height: 55px;
	left: 0;
	min-height: 50px;
	position: absolute;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	z-index: 6;
}

.leftheader-menu {
	list-style-type: none;
	margin: auto;
	margin-top: 20px;
	padding: 0;
}

.leftheader-menu li:first-child {
	font-size: 14px;
	font-weight: bold;
}

.leftheader-menu li:first-child a {
	color: #0aa89e;
	text-decoration: none;
	text-transform: uppercase;
}

.leftheader-menu li a {
	color: #313534;
	text-decoration: none;
	text-transform: uppercase;
}

.soft-icon {
	font-size: 24px;
}

.hide-nav {
	border-radius: 20px;
	font-size: 14px;
	margin-left: 12px;
	padding: 6px 10px;
	-webkit-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
}

.hide-nav:hover {
	background: #ecf0f1;
}

.leftheader-menu li {
	display: inline;
	height: 64px;
	padding: 0;
}

.rightheader-menu {
	list-style-type: none;
}

#profile {
	padding: 0px 10px;
	text-decoration: none;
}

.profile-info {
	color: rgba(49, 53, 52, 0.6);
	display: inline-block;
	line-height: 15px;
	padding: 0 20px 0 10px;
	vertical-align: middle;
}

.profile-info small {
	display: block;
	opacity: 0.5;
}

.header-nav-profile img {
	border-radius: 40px;
	height: 40px;
	width: 40px;
}

.header-nav-profile {
	background: #F5F5F5;
}

.dropdown-profile {
	background-clip: padding-box;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	display: none;
	font-size: 14px;
	list-style: none;
	margin: 5px 0 0;
	padding: 0px 0px 15px;
	text-align: left;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	width: 100%;
	z-index: 1000;
}

.dropdown-profile li {
	height: 32px;
}

.dropdown-profile li a {
	color: #313534;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.846153846;
	padding: 8px 20px;
	text-decoration: none;
	-webkit-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
}

.dropdown-profile li a:hover {
	background: #F5F5F5;
}

.header-nav-alert {
	float: left;
	margin-top: 13px;
	padding-right: 10px;
}

.my-dropdown {
	border-radius: 20px;
	color: #969c9c;
	display: inline-block;
	padding: 8px 12px;
	text-decoration: none;
	-webkit-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
}

.my-dropdown:hover {
	background: #F5F5F5;
	text-decoration: none;
}

.my-dropdown a:active,
a:visited,
a:focus {
	text-decoration: none;
}

.dropdown-alert {
	background-clip: padding-box;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	display: none;
	list-style-type: none;
	margin-top: 42px;
	padding: 0px 10px 6px;
	position: absolute;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	width: 250px;
}

.dropdown-alert li a {
	color: #313534;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.846153846;
	padding: 8px 20px;
	text-decoration: none;
}

.dropdown-alert li a:hover {
	background: #F5F5F5;
}

.dropdown-header {
	font-size: 10px;
	font-weight: 500;
	opacity: .6;
	padding: 15px 20px 5px 20px;
}

.alert.alert-callout {
	background: #ffffff;
	border-color: rgba(83, 88, 88, 0.15);
	border-left: 5px solid #FF9800;
	border-radius: 3px;
	color: #313534;
	padding-left: 20px;
	position: relative;
	-webkit-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
}

.rupee {
	white-space: nowrap;
}

.rupee small {
    font-size: 0.67em;
}

.pull-right {
	margin-bottom: 2px;
	margin-left: 10px;
}

.dropdown-avatar {
	max-width: 40px;
}

.msg-count {
	border-radius: 15px;
	color: red;
	font-size: 18px;
	margin-left: -7px;
	margin-top: -13px;
	position: absolute;
}

.content-area {
	width: 100%;
	min-height: 800px;
}

.inner-contatier {
	min-height: 800px;
}

.sidebar {
	background: #2B323A;
	background-size: cover;
	clear: both;
	height: 100%;
	left: -15px;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	-webkit-background-size: cover;
	width: 250px;
	z-index: 5;
}

.cart-icon {
	font-size: 75px;
	margin-left: 10px;
	float: left;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 7px;
}

table.dataTable tbody td,
table.dataTable tbody th {
	padding: 4px 7px;
}

#menu {
	font-size: 14px;
	margin-bottom: 30px;
	margin-left: 16px;
	margin-top: 55px;
	padding: 0;
}

#menu li {
	border-bottom: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li i {
	color: #aaabae;
	font-size: 18px;
	padding-right: 5px;
	width: 25px;
}

#menu li a {
	color: #aaabae;
	display: block;
	padding: 10px 0px 10px 15px;
	text-decoration: none;
	text-shadow: 0 1px 2px #000000;
	-webkit-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
}

#menu li a:hover {
	background: #434950;
	text-decoration: none;
}

#menu li a:active {
	text-decoration: none;
}

.dashboard {
	font-size: 16px;
}

#menu>li ul {
	padding: 0;
	background: #0C1A27;
}

#menu>li ul li {
	border-bottom: 1px solid rgba(69, 74, 84, 0.4);
	border-left: 4px solid rgba(69, 74, 84, 0.4);
}

#menu>li ul li a {
	border-radius: 0;
	display: block;
	font-size: 13px;
	line-height: normal;
	position: relative;
	text-decoration: none;
}

#menu>li ul i {
	color: #aaabae;
	font-size: 13px;
	padding-right: 5px;
}

/*.menu-helper >li> ul> li::before
{
	border-right: 1px dashed rgba(255, 255, 255, 0.3);
	content: "";
	margin-left: -13px;
	margin-top: -14px;
	padding: 15px 18px;
	position: absolute;
	z-index: 1;
}
.menu-helper  >li> ul> li a::before
{
	color: rgba(255, 255, 255, 0.3);
	content: "----";
}*/
#menu>li.has-sub::before {
	float: right;
	font-family: 'FontAwesome';
	content: "\f067";
	margin-right: 20px;
	color: #aaabae;
	margin-top: 11px;
	font-size: 10px;
}

#menu>li.has-sub-change::before {
	float: right;
	font-family: 'FontAwesome';
	content: "\f068";
	margin-right: 20px;
	color: #aaabae;
	margin-top: 11px;
	font-size: 10px;
}

.content-title {
	background: #0d6efd;
	box-shadow: 0px 5px 5px #d8d7d7;
	z-index: 1;
	margin-bottom: 15px;
}

.content-title h4 {
	color: #fff;
	font-size: 20px;
}

.content-title .breadcrumb {
	margin: 0;
	padding: 0;
}

.content-title .breadcrumb-item.active {
	color: #dfdfdf;
}

.content-title .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	color: #fff;
}

.content-title a {
	color: #fff;
	text-decoration: none;
}

.leftside-cart {
	width: 30%;
	float: left;
}

.rightside-cart {
	width: 100%;
}

.hidetag::before {
	content: "" !important;
}

.main-content {
	width: 100%;
}

.active-menu {
	color: #0061f7;
}

.card-box {
	background: #fff;
	border-radius: 0px;
	/* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */
	height: 170px;
	margin-top: 10px;
	width: 100%;
}

.medium-box {
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	height: 375px;
	width: 100%;
	overflow: hidden;
}

.custom-box {
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	margin-top: 20px;
	width: 100%;
}

/* page panel body height*/
.manage-client {
	max-height: 705px;
	overflow: auto;
}

/* End Page Body Height*/
#inc_vs_exp {
	width: 100% !important;
	height: 300px !important;
}

#yearly-income {
	width: 100% !important;
	height: 300px !important;
}

#yearly-expense {
	width: 100% !important;
	height: 300px !important;
}

#inc_vs_exp2 {
	width: 100% !important;
	height: 300px !important;
}

.box-callout-blue {
	border-bottom: 3px solid #29b6f6;
	height: 100%;
	width: 100%;
	color: #29b6f6;
}

.box-callout-blue i {
	color: #29b6f6;
}

.box-callout-default {
	border-bottom: 3px solid #8e44ad;
	height: 100%;
	width: 100%;
	color: #8e44ad;
}

.box-callout-default i {
	color: #8e44ad;
}

.box-callout-orange {
	border-bottom: 3px solid #f39c12;
	height: 100%;
	width: 100%;
	color: #f39c12;
}

.box-callout-orange i {
	color: #f39c12;
}

.box-callout-green {
	border-bottom: 3px solid #23c6c8;
	height: 100%;
	width: 100%;
	color: #23c6c8;
}

.box-callout-green i {
	color: #23c6c8;
}

.card-head {
	font-size: 18px;
	line-height: 16px;
	padding: 15px 0px 0px 0px;
	text-align: center;
	margin: 0;
}

.cart-preview {
	text-align: center;
	font-size: 18px;
	display: inline;
}

.cart-symbol {
	font-size: 18px;
	display: inline;
}

.card-value {
	font-size: 14px;
	font-weight: bold;
	float: right;
}

.cart-caption {
	display: block;
	text-align: center;
}

.micro-menu {
	position: absolute;
	background: #2B323A;
	width: 170px;
	margin-top: -35px;
	margin-left: 20px;
	z-index: -99999;
}

#footer {
	margin-top: 12px;
	height: 50px;
	background: #fff;
	width: 100%;
}

#footer p {
	text-align: center;
	padding: 15px 25px 0px;
}

.single-action {
	width: 67px;
}

.action {
	width: 177px;
}

.add-button {
	display: flex;
    justify-content: flex-end;
}

.add-button button {
	margin: 0 10px;
}

.select2 {
	width: 100% !important;
}

.alertbox-info {
	position: fixed;
	width: 400px;
	min-height: 140px;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -200px;
	background: #ecf0f1;
	z-index: 9999;
	border: 4px solid #ddd;
	opacity: 0.2;
	box-shadow: 0 0 30px black;
	color: #2980b9;
}

.alert-head {
	height: 35px;
	/*background:#f5f5f5;*/
	background-image: linear-gradient(#e6e2e2, #f5f5f5);
	border-bottom: 1px solid #ddd;
	width: 100%;
	font-weight: bold;
}

fieldset.split-box {
	position: relative;
	padding: .2em .2em .8em;
	margin: 10px 2px;
	border: 3px double #c0c0c0;
}

fieldset.split-box.expense {
	background: #ffeaea;
}

fieldset.split-box.income {
	background: #f0fff5;
}

fieldset.split-box.transfer {
	background: #ecefff;
}

fieldset.split-box.inner {
	width: 50%;
	float: right;
}

.split-box .add-button {
	position: absolute;
	right: 20px;
	top: 5px;
	width: auto;
}

.split-box .add-button a {
	padding: 0 7px;
	cursor: pointer;
	margin: 0 7px;
	display: inline-block;
	border: 1px solid #ccc;
	background: #fff;
}

.close {
	color: red;
}

a.closebtn {
	position: absolute;
	right: 0;
	top: 3px;
	color: red;
	padding: 0 7px 5px;
	font-size: 1.5em;
	line-height: 17px;
	z-index: 1;
	width: auto;
}

.exit {
	float: right;
	/*font-family: FontAwesome;
content: "\f057";*/
	font-size: 22px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: -36px;
}

.alert-text p {
	padding-top: 5px;
	font-size: 18px;
	padding-left: 5px;
}

.alert-content {
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	padding-right: 5px;
}

.alert-icon {
	margin-left: 5px;
	margin-right: 5px;
}

.setting-logo {
	border: 1px solid #ccc;
	width: 100%;
	margin-bottom: 10px;
}

#clickme {
	width: 100%;
	background: #fff;
	border: 1px solid #ebebeb;
}

.block-ui {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	z-index: 1100;
	position: fixed;
	display: none;
}

.spinner {
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -25px;
}

.spinner>div {
	background-color: #23c6c8;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}

	20% {
		-webkit-transform:

			scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {

	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}

	20% {
		transform:

			scaleY (1 .0);


		-webkit-transform:

			scaleY (1 .0);


	}
}

.help_info {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}

.failedAlert2 {
	display: block;
}

.for-update {
	display: none;
}

.ajax-notify {
	display: none;
}

#manage-income {
	font-size: 13px;
	width: 100%;
}

#manage-expense {
	font-size: 13px;
	width: 100%;
}

.system-alert-box {
	padding: 15px 12px 0px 12px;
}

.model-alert-box {
	padding: 0px 12px 0px 12px;
}

.show_entries {
	border: 1px solid #ccc;
	height: 26px;
}

/* Mobile Menu */

.scroll-div {
	max-height: 500px;
	overflow: auto;
}

#accounts-table {
	margin-bottom: 0px;
}

.scroll-table-head {
	margin-bottom: 0px;
}

.sc-col-1 {
	width: 10%;
}

.sc-col-2 {
	width: 20%;
}

.sc-col-3 {
	width: 30%;
}

.sc-col-4 {
	width: 40%;
}

.sc-col-5 {
	width: 50%;
}

.sc-col-6 {
	width: 60%;
}

.sc-col-7 {
	width: 70%;
}

.sc-col-8 {
	width: 80%;
}

.sc-col-9 {
	width: 90%;
}

.sc-col-10 {
	width: 100%;
}

.mybtn {
	padding: 3px 7px;
	margin: 0 4px;
}

.report-params {
	border: 3px solid #ccc;
	padding-top: 15px;
	padding-bottom: 15px;
}

#Report-Table {
	border: 3px solid #ccc;
	padding-top: 15px;
	min-height: 400px;
}

.report-heading {
	text-align: center;
}

.report-heading h4 {
	padding: 0;
	margin: 0;
}

.Report-Toolbox {
	margin-top: 10px;
	padding: 0px !important;
	height: 50px;
}

.Report-Toolbox .btn {
	float: right;
	margin-left: 1px;
}

.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -73px;
	margin-top: -73px;
	display: none;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 5;
}

.sticky-alert {
	position: sticky;
	top: 7%;
	z-index: 5;
	display: flow-root;
}

.join-table-1 {
	padding-right: 0px !important;
}

.join-table-2 {
	padding-left: 0px !important;
}

/* for Calculator */
.calculator {
	padding: 10px;
	margin-top: 20px;
	background-color: #ccc;
	border-radius: 5px;
	/*this is to remove space between divs that are inline-block*/
	font-size: 0;
}

.calculator>input[type=text] {
	width: 100%;
	height: 50px;
	border: none;
	background-color: #eee;
	text-align: right;
	font-size: 30px;
	padding-right: 10px;
}

.calculator .row {
	margin-top: 10px;
}

.calculator .key {
	width: 24%;
	display: inline-block;
	background-color: black;
	color: white;
	font-size: 16px;
	margin-right: 5px;
	border-radius: 5px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	box-shadow: 0px 5px 0px #808080;
	transition: box-shadow 0.5s ease;
}

.calculator .key:hover {
	cursor: pointer;
	box-shadow: 5px 3px 1px #808080;
}

.key.last {
	margin-right: 0px;
}

.key.action {
	background-color: #646060;
}

/* For Calendar */
#calendar {
	margin: auto;
}

.table span:not([class]) {
	background: #eee;
	font-size: 10px;
	padding: 0px 2px;
	border: 1px solid #ccc;
}

.quick-btn {
	display: block;
}

.quick-btn .fa {
	font-size: 2.5em;
	display: block;
	margin-bottom: .3em;
}

.panel-body {
	padding: 15px 10px;
	/* overflow: auto !important; */
	width: 100%;
}

#Table-div table {
	min-width: 100%;
	margin: 0;
}

.table tbody tr:nth-child(odd) {
	background: #f7f7f7;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 4px 6px;
	vertical-align: middle;
}

.panel>.panel-heading,
.panel-default>.panel-heading {
	text-transform: uppercase;
	background: #0061f7;
	color: white;
	padding: 4px 10px;
	font-weight: bold;
}

a {
	cursor: pointer;
}

a.aicon {
	font-size: 13px;
	cursor: pointer;
}

a.aicon.remove {
	color: #c0392b;
}

/****************************************/
/* Styling rules, such as font and colors */
.date-as-calendar {
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
	font-family: "Helvetica", "Arial", sans-serif;

	/* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
	vertical-align: top;

	/* margin: 1ex; */

	color: black;
	background: white;
	background: linear-gradient(to bottom right, #FFF 0%, #EEE 100%);

	border: 1px solid #888;
	border-radius: 3px;
	overflow: hidden;

	box-shadow: 2px 2px 2px -2px black;
}

.date-as-calendar span {
	background: none;
	padding: 0;
	border: none;
}

.date-as-calendar .weekday,
.date-as-calendar .day,
.date-as-calendar .month,
.date-as-calendar .year {
	text-align: center;
	line-height: 1.0;
}

.date-as-calendar .month {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	background: #B11;
	background: linear-gradient(to bottom right, #D66 0%, #A00 100%);
	color: white;
}


/****************************************/
/* Layout rules using position: absolute and relative dimensions using em. */
.position-em.date-as-calendar {
	display: inline-block;
	position: relative;

	width: 4.5em;
	height: 4.5em;
}

.position-em.date-as-calendar .weekday,
.position-em.date-as-calendar .day,
.position-em.date-as-calendar .month,
.position-em.date-as-calendar .year,
.position-em.date-as-calendar .time {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}

.position-em.date-as-calendar .month {
	top: 0px;
	font-size: 0.60em;
	padding: 0.1em 0;
}

.position-em.date-as-calendar .weekday {
	top: 1.35em;
	font-size: 0.6125em;
}

.position-em.date-as-calendar .day {
	top: 1.1em;
	font-size: 1.4em;
}

.position-em.date-as-calendar .year {
	bottom: 8px;
	font-size: 0.87750em;
}

.position-em.date-as-calendar .time {
	bottom: -1px;
	font-size: 0.5em;
	text-align: center;
}

/****************************************/
/* Multiple sizes. */
.date-as-calendar.size0_5x {
	font-size: 8px;
}

.date-as-calendar.size0_75x {
	font-size: 12px;
}

.date-as-calendar.size1x {
	font-size: 16px;
}

.date-as-calendar.size1_25x {
	font-size: 20px;
}

.date-as-calendar.size1_5x {
	font-size: 24px;
}

.date-as-calendar.size1_75x {
	font-size: 28px;
}

.date-as-calendar.size2x {
	font-size: 32px;
}

.date-as-calendar.size3x {
	font-size: 48px;
}

#add-transaction .split-box .row {
	padding: 0;
	margin-bottom: 5px;
}

.fade.show {
	opacity: 1;
}

.modal {
	z-index: 1051;
}

.t-indicator {
	position: relative;
}

.t-indicator::after {
	content: "";
	position: absolute;
	top: 5px;
	right: 5px;
	background: transparent;
	width: 7px;
	height: 7px;
}

.t-indicator.expense::after {
	background: red;
}

.t-indicator.income::after {
	background: green;
}

.t-indicator.transfer::after {
	background: blue;
}

.navbar-expand-lg .navbar-collapse {
	color: #000;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.btn,
.btn-info {
	color: #ffffff;
}

.col-account {
	min-width: 150px;
}

.col-description {
	position: relative;
	min-width: 200px;
}

.col-description span.category-info {
	position: absolute;
    top: -2px;
    right: 3px;
    font-size: 0.7rem;
}

.col-date-1 {
	min-width: 125px;
}

.date-updated-box {
	font-size: 11px;
}

.input-group .input-group-addon {
	color: #9aa7ae;
    padding: 0 5px;
    line-height: 2em;
}

.col-icons {
	min-width: 75px;
	max-width: 75px;
}

.col-icons a {
	display: inline-block;
	margin: 4px;
}
.col-icons a i {
	font-size: 21px;
}
.transaction-table .note {
	display: block;
	font-size: 10px;
}

.float-left-sm {
	float: left;
}

.float-right-sm {
	float: right;
	top: 14px;
}

#ajax-message p {
	margin: 0;
}

.large-table {
	min-width: 1400px;
	width: 100%;
}

ul.top-bar-menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    gap: 10px; /* Adds spacing between items */
}

.top-bar-menu li {
    list-style: none;
}

.top-bar-menu li a {
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 3px 12px;
    border-radius: 5px;
    display: block; /* Makes links more clickable */
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
}

.top-bar-menu li a.active {
	background-color: #e7e7e7;
}

@media screen and (max-width: 768px) {
	.left-headerbar {
		border-bottom: 1px solid #e5e6e6;
		height: 55px;
		width: 100%;
	}

	.system-alert-box {
		padding: 0px 12px 0px 12px;
	}

	.leftheader-menu li:first-child {
		display: block;
		text-align: center;
	}

	.right-headerbar {
		padding: 0;
		width: 100%;
	}

	.headerbar {
		min-height: 110px;
		margin-top: 55px;
	}

	.content-area {
		top: 55px;
	}

	.hide-class {
		position: absolute;
		right: 0;
	}

	.sidebar {
		width: 0px;
	}

	.header-nav-alert {
		padding-right: 0px;
	}

	#menu>li.has-sub::before {
		display: none;
	}

	#menu>li.has-sub-change::before {
		display: none;
	}

	.hide-class {
		display: none !important;
	}

	.select2 {
		width: 100% !important;
	}

	.content-title h4 {
		padding-top: 4px;
	}

	/* Force table to not be like tables anymore */
	.no-more-tables table,
	.no-more-tables thead,
	.no-more-tables tbody,
	.no-more-tables th,
	.no-more-tables td,
	.no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 30% !important;
		white-space: normal;
		text-align: left;
	}

	.no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 28%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	.no-more-tables td:before {
		content: attr(data-title);
	}

	ul.top-bar-menu {
        justify-content: center;
    }

	.top-bar-menu li a {
		padding: 1px 5px;
	}

	.width-30x {
		width: 200px;
	}

	.width-20x {
		width: 120px;
	}

	.width-15x {
		width: 132px;
	}

	.width-10x {
		width: 90px;
	}

	.width-8x {
		width: 70px;
	}

	.width-5x {
		width: 50px;
	}

	.col-date {
		width: 30px;
	}

	.col-amount {
		width: 65px;
	}
}

@media screen and (min-width: 768px) {
	.width-30x {
		width: 300px;
	}

	.width-25x {
		width: 250px;
	}

	.width-20x {
		width: 200px;
	}

	.width-15x {
		width: 150px;
	}

	.width-10x {
		width: 100px;
	}

	.width-8x {
		width: 80px;
	}

	.width-5x {
		width: 50px;
	}

	.col-date {
		width: 50px;
	}

	.col-amount {
		width: 108px;
	}
}

/* Responsive Calculator */
@media screen and (max-width: 480px) {
	.calculator .key {
		width: 23%;
	}
	.col-description span.category-info {
		font-size: 0.5rem;
	}
}

@media screen and (max-width: 410px) {

	body,
	.form-control,
	.btn,
	.dropdown-menu {
		font-size: 12px;
	}

	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		padding: 2px 4px;
	}

	.table {
		margin-bottom: 0.25rem;
	}

	.table span:not([class]) {
		font-size: 8px;
	}

	.form-control {
		padding: .275rem .55rem;
	}

	legend {
		margin-bottom: 5px;
	}

	.select2-container .select2-selection--single {
		height: 24px;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 24px;
	}

	.split-box .add-button {
		right: 1px;
		top: 5px;
	}

	.btn {
		width: auto;
	}

	.col-amount {
		width: 60px;
	}

	.nav-label {
		width: 120px;
	}

	.row>* {
		padding-right: calc(var(--bs-gutter-x)* .2);
    	padding-left: calc(var(--bs-gutter-x)* .2);
	}

	.panel-body {
		padding: 7px 5px;
	}

	#footer {
		height: auto;
	}

	#footer p {
		padding: 5px;
		margin: 0;
	}

}